node_modules/
.env
*.log
server/uploads/*
!server/uploads/.gitkeep
!server/uploads/markers/custom-marker.patt
!server/uploads/markers/custom-marker.png
!server/uploads/markers/.gitkeep
!server/uploads/ecosystem-models/**

